#main {
  max-width: 2060px;
  margin: 0 auto;
}

a,
a:hover {
  text-decoration: none;
  color: black;
}

.title {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.title > h1 {
  display: block;
  margin-left: 2rem;
  font-family: notosans;
  font-size: 20px;
  font-weight: bold;
}

.title > a {
  margin-right: 5%;
}

.post_element {
  position: relative;
  text-decoration: none;
  margin-left: 2vw;
  background-color: #e2e2e2;
  max-width: 1860px;
  height: 120px;
}

/*likes*/
:root {
  --red: rgb(209, 3, 3);
  --white: #fff;
  --gray: #a5a5a5;
}

.btn-icon {
  margin: 1.5% 0 0 2.5%;
  position: absolute;
  transition: 1s color cubic-bezier(0.21, 0.04, 0.26, 0.99);
  color: var(--gray);
  border: 0;
  background-color: #e2e2e2;
}

.btn-icon:hover {
  color: var(--red);
}

.likes {
  color: var(--red);
}

.post_element > p {
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  margin: 4% 0 0 3.2%;
  margin-right: 1rem;
  text-align: center;
}

.page_title {
  position: relative;
  top: 15%;
  margin-left: 8rem;
  font-weight: bold;
  font-style: normal;
  line-height: 18px;
  color: #000000;
}

.info {
  position: relative;
  padding-top: 1.5vh;
  margin-left: 8rem;
}
.hashtag {
  margin-top: 2rem;
}
.hashtag > p {
  position: absolute;
  white-space: nowrap;
  background: #adc4ff;
  border-radius: 11px;
  font-family: notosans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  padding: 0% 1rem 0% 1rem;
}

.date > p {
  font-size: 13px;
  position: absolute;
  margin: 0 0 0 5rem;
}

.matching > p {
  position: absolute;
  font-family: notosans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #000000;
  margin-left: 92%;
  margin-top: -3vh;
}

@media (max-width: 1980px) {
  #main {
    width: 1480px;
    margin: 0 auto;
  }
  .post_element {
    width: 1300px;
  }
  .post_element > p {
    margin: 5% 0 0 3.5%;
  }
}

@media (max-width: 1680px) {
  #main {
    width: 1180px;
    margin: 0 auto;
  }
  .post_element {
    width: 1000px;
  }
  .post_element > p {
    margin: 6% 0 0 4.1%;
  }
}
