<<<<<<< HEAD
:root {
  /* size */

  /* Font size */
  --font-large: 20px;
  --font-medium: 15px;
  --font-small: 13px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}


=======
>>>>>>> e27370ac4310d04aa0d2839aaa2d9e940113ba7e
#main {
  top: 0;
  background: #e2e2e2;
  width: 100%;
  height: 500px;
  margin-top: 20px;
}

/* 오늘 진행되고 있는 공연 */

.today_concert {
  max-width: 2060px;
  margin: 0 auto;
}

.today_concert .metadata {
  display: flex;
  width: 100%;
  /* padding-top: 20px; */
}

.today_concert .title {
  font-size: 30px;
  font-weight: bold;
  margin: 2rem 2rem 1rem 2rem;
}

.today_concert a {
  margin-top: 2.9rem;
}

/* 콘서트 메이트 */

.concert_mate {
  max-width: 2060px;
  margin: 0 auto;
}

.concert_mate .title {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  padding-left: 2vh;
  padding-top: 5rem;
}

.concert_mate .more_info {
  display: inline-block;
  font-size: var(--font-small);
  padding-left: 2%;
}

.home_list {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px 0px 50px;
}

.home_concert {
  width: 300px;
}

.home_concert:nth-child(n + 5) {
  display: none;
}

.home_concert_info {
  text-align: center;
}

.home_concert_info img {
  margin-bottom: 20px;
  width: 130px;
  height: 200px;
}

.home_concert_info div {
  padding-top: 3px;
}

/* card list -> 메인 페이지의 콘서트 메이트 구해요 및*/
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  column-gap: 2%;
  padding: 1rem;
}
.card-item {
  margin-bottom: 1rem;
  background: turquoise;
}
.card-image {
  height: 0;
  padding-bottom: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightgray;
  background-size: cover;
}
.card-image img {
  display: none;
}
.card-desc {
  padding: 1em;
}

.title {
  margin-bottom: 20px;
}

@media (max-width: 1920px) {
  #main {
    height: 29rem;
  }
  .today_concert {
    max-width: 1480px;
  }
  .concert_mate {
    max-width: 1480px;
  }
}

@media (max-width: 1680px) {
  #main {
    height: 29rem;
  }
  .today_concert {
    max-width: 1180px;
  }
  .concert_mate {
    max-width: 1180px;
  }
}

@media (max-width: 1366px) {
  #main {
    height: 29rem;
  }
}

@media (max-width: 1280px) {
  #main {
    height: 29rem;
  }
}

@media (max-width: 1152px) {
  #main {
    height: 29rem;
  }
  .today_concert {
    max-width: 852px;
  }
  .concert_mate {
    max-width: 852px;
  }
  .home_concert:nth-child(n + 4) {
    display: none;
  }
}

/* 1024 x 768 */
@media (max-width: 1024px) {
  #main {
    height: 29rem;
  }
}

/* 800 x 600 */
@media (max-width: 800px) {
  #main {
    height: 29rem;
  }
  .today_concert {
    max-width: 650px;
  }
  .concert_mate {
    max-width: 650px;
  }
  .home_concert:nth-child(n + 3) {
    display: none;
  }
}
