/*likes*/
:root {
  --red: rgb(209, 3, 3);
  --white: #fff;
  --gray: #a5a5a5;
}

.post_title > h2{
  font-weight: bold;
}

.like {
  transition: 1s cubic-bezier(0.21, 0.04, 0.26, 0.99);
  color: var(--gray);
  border: 0;
  background-color: white;
  font-size: 20px;
}

.like:hover {
  color: var(--red);
}

.det_container {width: 900px; margin: auto; padding-top: 30px;}

#title h2 {font-size: 20px; font-weight: bold;}
#title .user_and_pcp {font-size: 17px;}

#content {margin-bottom: 30px; font-size: 18px; white-space: pre-line;}
#edit {text-align: right;}
#edit .manage a {margin-left: 7px;}

#comment {margin: 20px;}
#comment h4 {margin: 5px; font-size: 17px;}
#comment form {margin: 3px;}
#comment ul {margin-top: 10px; padding-bottom: 40px;}
#comment ul li {border-top: solid 1px #a5a5a5; margin: 10px auto; padding-top: 10px;} /* padding-top은 #comment ul li > div:last-child의 transform에 영향 */
#comment ul li:first-child {border-top: none;}
#comment ul li > div {margin: 4px auto;}
#comment ul li > div:first-child {float: right;}
#comment .cmt_tit {font-size: 14px;}
#comment .cmt_msg {font-size: 16px; white-space: pre-line;}

@media screen and (max-width: 980px) {
  .det_container {width: auto; margin: 0 70px;}
}

@media screen and (max-width: 720px) {
  .det_container {margin: 0 50px;}
}