.container-fluid {
  padding-top: 1%;
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
}
.pf {
  width: 400px;
  height: 35px;
  border-radius: 100px;
  background-color: #e2e2e2;
}
.fixed {
  padding-left: 3%;
}
/* .pf-top-srch input {
    border : 5px solid transparent;
    border-bottom: 1px solid #000; 
    color: #333;
} */

.collapse-navbar-collapse {
  margin-right: 5%;
}
