*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title > h1 {
    position:relative;
    display:block;
    margin: 5% 0% 3% 10%;
    font-family: notosans;
    font-size:20px;
    font-weight: bold;
}

.button{
    margin-right: 21%;
}

.page_title {
    position: relative;
    margin:auto;
    background-color: #E2E2E2;
    width: 972px;
    height: 79px;
}

.page_title > a {
    position:absolute;
    display:inline;
    padding-top:1.7%;
    padding-left:8.5%;
    font-size:15px;
    font-weight: bold;
    font-style: normal;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
}

.side {
    display: flex;
    justify-content: space-between;
    margin: -3.2% 20% 0% 16.5%;
}

.heart {
    background: #C4C4C4;
    position: absolute;
    transform: rotate(45deg);
    width: 18px;
    height: 18px;
}

.heart:hover:before,
.heart:hover:after,
.heart:hover {
    background: #fff;
}
.heart::before,
.heart::after {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    border-radius: 50%;
    background: #C4C4C4;
}
.heart::before {
    left: -60%;
}
.heart::after {
    top: -60%;
}

.heart:visited:before,
.heart:visited:after,
.heart:visited {
    background: #fff;
}

.matching > p {
    position: relative;
    font-family: notosans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
}

.info {
    position: relative;
    margin: -2.3% 0% 2% 20%;
}

.hashtag > p {
    position: absolute;
    white-space : nowrap;
    background: #ADC4FF;
    border-radius: 11px;
    font-family: notosans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    padding:0% 10px 0% 10px;
}

.date > p {
    position: absolute;
    margin: -0.2% 0% 0% 6%;
}



