:root {
  /* size */

  /* Font size */
  --font-large: 20px;
  --font-medium: 15px;
  --font-small: 13px;
  --font-micro: 10px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Noto Sans KR', sans-serif;
}

#main{
  top: 0;
  background: #E2E2E2;
  width: 100%;
  height: 27em;
}
/* 오늘 진행되고 있는 공연 */
.today_concert .metadata .title{
  display: block;
  font-size: var(--font-large);
  font-weight: bold;
  padding-left: 5%;
  padding-top: 20px;
}

.today_concert .img img{
  display: block;
  width: 250px;
  padding-left: 5%;
  padding-top: 20px;
}

.today_concert .info .title{
  display: block;
  font-size: var(--font-medium);
  font-weight: bold;
  padding-left: 5.5%;
  padding-top: 20px;
}

.today_concert .info .date{
  display: block;
  font-size: var(--font-small);
  padding-left: 5.5%;
  padding-top: 3px;
}

.today_concert .info .location{
  display: block;
  font-size: var(--font-small);
  padding-left: 5.5%;
  padding-top: 3px;
}