#main {
  background-color: #e2e2e2;
  width: 100%;
  height: 452px;
}

.today_concert {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;

  position: absolute;
  width: 404px;
  height: 47px;
  left: 66px;
  top: 112px;
}

.photo {
  position: absolute;
  width: 180px;
  height: 236px;
  left: 60px;
  top: 170px;
}

.concert_title {
  position: absolute;
  width: 140px;
  height: 32px;
  left: 72px;
  top: 419px;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
}

.concert_info {
  position: absolute;
  width: 111px;
  height: 38px;
  left: 72px;
  top: 460px;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
}

#greet {
  background-color: white;
  width: 100%;
  height: 500px;
}

.concert_mate {
  position: absolute;
  width: 220px;
  height: 62px;
  left: 61px;
  top: 629px;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
}

.concert_mate_more {
  position: absolute;
  width: 75px;
  height: 27px;
  left: 262px;
  top: 639px;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
}

/* .concert_mate_info 도형 */
.concert_mate_info {
  position: absolute;
  width: 342px;
  height: 183px;
  left: 61px;
  top: 732px;
  background: #e2e2e2;
  border-radius: 40px;
}

.concert_mate_info1 {
  position: absolute;
  width: 342px;
  height: 183px;
  left: 557px;
  top: 732px;
  background: #e2e2e2;
  border-radius: 40px;
}

.concert_mate_info2 {
  position: absolute;
  width: 342px;
  height: 183px;
  left: 1028px;
  top: 732px;
  background: #e2e2e2;
  border-radius: 40px;
}
