#main{
    position: absolute;
    width: 1535px;
    height: 450px;
    left: 0px;
    top: 93px;
    background: #E2E2E2;
}

.material-icons-outlined{
    position: absolute;
    width: 43px;
    height: 42px;
    left: 15%;
    top: 78px;
}

.post_title{
    position: absolute;
    width: 436px;
    height: 95px;
    left: 20%;
    top: 70px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 36px;
    text-align: left;
}

.post_user{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 228px;
    top: 170px;
    background: #C4C4C4;
    border-radius: 50%
}

.user_name{
    position: absolute;
    width: 210px;
    height: 46px;
    left: 250%;
    top: 0px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    text-align: left;
}

.post_content{
    position: absolute;
    width: 573px;
    height: 172px;
    left: 20%;
    top: 250px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    text-align: left;
}

.count h3{
    position: absolute;
    left: 65%;
    top: 30%;
    font-family: Noto Sans KR;
    font-size: 70px;
}

.post_manage{
    position: absolute;
    left: 85%;
    top: 15%;
}

.comment_submit{
    position: absolute;
    left: 85%;
    top: 80%;
}

#greet{
    position: absolute;
    width: 1535px;
    height: 450px;
    left: 0px;
    top: 540px;
    background: white;
}

.comment{
    position: relative;
    left: 20%;
    top: 10%;
}

.comment > p{
    font-weight: bold;
    font-size: 25px;
}

.comment > li{
    font-weight: normal;
}


