:root {
  /* size */

  /* Font size */
  --font-large: 20px;
  --font-medium: 15px;
  --font-small: 13px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

#main {
  top: 0;
  background: #e2e2e2;
  width: 100%;
  height: 28em;
}
/* 오늘 진행되고 있는 공연 */
.today_concert .metadata .title {
  display: block;
  font-size: var(--font-large);
  font-weight: bold;
  padding-left: 5%;
  padding-top: 20px;
}

.today_concert .img img {
  display: block;
  width: 250px;
  padding-left: 5%;
  padding-top: 20px;
}

.today_concert .info .title {
  display: block;
  font-size: var(--font-medium);
  font-weight: bold;
  padding-left: 5.5%;
  padding-top: 20px;
}

.today_concert .info .date {
  display: block;
  font-size: var(--font-small);
  padding-left: 5.5%;
  padding-top: 3px;
}

.today_concert .info .location {
  display: block;
  font-size: var(--font-small);
  padding-left: 5.5%;
  padding-top: 3px;
}

/* 콘서트 메이트 */
.concert_mate .title {
  display: inline-block;
  font-size: var(--font-large);
  font-weight: bold;
  padding-left: 5.5%;
  padding-top: 80px;
}

.concert_mate .more_info {
  display: inline-block;
  font-size: var(--font-small);
  padding-left: 2%;
}

/* 기준 */
.concert_mate .list .all {
  display: inline-block;
  width: 580px;
  height: 300px;
  border-radius: 5%;
  margin-left: 8%;
  margin-top: 3%;
  background: #c4c4c4;
}

/* 기준 */
.concert_mate .list .hiphop {
  display: inline-block;
  width: 580px;
  height: 300px;
  border-radius: 5%;
  float: right;
  margin-right: 8%;
  margin-top: 3%;
  background: #c4c4c4;
}

.concert_mate .list .ballad {
  display: inline-block;
  width: 580px;
  height: 300px;
  border-radius: 5%;
  margin-left: 8%;
  margin-top: 50px;
  background: #c4c4c4;
}

.concert_mate .list .indi {
  display: inline-block;
  width: 580px;
  height: 300px;
  border-radius: 5%;
  float: right;
  margin-right: 8%;
  margin-top: 50px;
  background: #c4c4c4;
}

.home_list {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px 0px 50px;
}

.home_concert {
  width: 300px;
}

.home_concert_info {
  text-align: center;
}

.home_concert_info img {
  margin-bottom: 20px;
  width: 130px;
  height: 200px;
}

.home_concert_info div {
  padding-top: 3px;
}
