#profile_main {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 2060px;
  height: 500px;
  background: #e2e2e2;
  padding: 5%;
  margin: 1.3% auto;
}

.part_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-left: 5%; */
}

.user_name {
  display: flex;
  margin-bottom: 30%;
}
.user_name > h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
}
.user_name > p {
  font-size: 17px;
}
.self_photo {
  background-color: rgb(139, 139, 139);
  margin-bottom: 15%;
  border-radius: 50%;
  width: 210px;
  height: 210px;
}

.follow_button > button {
  margin-top: 20%;
  font-size: 20px;
}

.follow_button > button > a {
  color: #000000;
  text-decoration: none;
}

.follow_button > button {
  background: rgb(185, 185, 185);
  border: none;
  height: 40px;
  font-size: 1.3em;
  font-weight: normal;
  padding: 0 1.2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  border-radius: 30px;
}
.follow_button > button:hover {
  background: #fff;
  color: #a5a5a5;
}
.follow_button > button:before,
.follow_button > button:after {
  content: "";
  height: 2px;
  width: 0;
  background: #b9b9b9;
  transition: 400ms ease all;
}
.follow_button > button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.self_content {
  margin: auto;
  width: 470px;
  height: 200px;
  background-color: rgb(204, 203, 203);
  border-radius: 30px;
}


.follow {
  font-weight: bolder;
  text-align: center;
  font-size: 20px;
  
}

.follow > p {
  font-weight: normal;
  font-weight: bold;
}

.follow > hr {
  height: 2px;
  background-color: rgb(0, 0, 0);
}

#review {
  top: 72%;
  width: 100%;
  height: 450px;
}

.review_title {
  margin-top: 2%;
  margin-bottom: 3%;
  display: flex;
  justify-content: space-between;
}

.review_title > p {
  margin-left: 15%;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 25px;
}

.review_title > a {
  margin-right: 15%;
}

.comment > ul > li {
  margin: auto;
  width: 1000px;
  height: 130px;
  background-color: #e2e2e2;
  border-radius: 40px;
}
.comment_user_photo {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  margin: 2% 0% 0% 3%;
}

.comment_user_etc {
  margin: -8% 0% 0% 10%;
}

.comment_date {
  margin-left: 10%;
  margin-top: 3%;
}

.message {
  margin: -7% 0% 0% 10%;
  font-size: 20px;
  width: 450px;
  height: 90px;
}

.comment_date > p {
  margin: 7% 0 0 70%;
}

.message_button {
  margin: -5% 0% 0% 90%;
}

.message_button > button {
  border: 0;
  outline: 0;
  background-color: rgb(138, 138, 138);
  border-radius: 10px;
  padding: 3px;
}

@media (max-width: 1920px) {
  #profile_main {
    max-width: 1180px;
  }
}

@media (max-width: 1680px) {
  #profile_main {
    max-width: 1180px;
  }
}

/* mobile */
@media (max-width: 720px) {
  #profile_main {
    max-width: 650px;
  }
}

@media (max-width: 420px) {
  body{
    width: 100%;
  }
  #profile_main {
    max-width: 350px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .user_name {
    margin: 0;
  }
  .user_name > h1 {
    font-size: 13px;
  }
  .user_name> p {
    font-size: 11px;
  }
  .self_photo,
  .self_photo > img {
    width: 140px;
    height: 140px;
  }
  .follow_button > button {
    margin: 0;
  }
  .follow_button > button:first-child {
    margin-left: 7px;
    margin-bottom: 10px;
  }
  .self_content {
    margin-left: 10px;
    padding: 11px;
  }
  .follow {
    display: flex;
    font-size: 20px;
    position: absolute;
    top: 90%;
  }
  .follow > p {
    font-size: 15px;
    margin-left: 10px;
  }
  .comment > ul > li {
    width: 300px;
    height: 160px;
  }
  .comment_user_etc {
    font-size: 12px;
    margin: -23% 0% 0% 24%;
  }
  .comment_date {
    font-size: 10px;
  }
  .comment_date > p {
    margin: 35% 0 0 50%;
  }
  .message {
    max-width: 200px;
    font-size: 13px;
    margin: -33% 0 0 23%;
  }
  .message_button {
    margin: 4% 0 0 75%;
  }
  .message_button > button{
    font-size: 12px;
  }
}