#main {
    max-width: 2060px;
    margin: 0 auto;
}
  
.title {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.title > h1 {
    display: block;
    font-size: 20px;
    margin-left: 2rem;
    font-family: notosans;
    font-weight: bold;
}
  
.title > a {
    margin-right: 5%;
}

.form_message {
    text-align: center;
}

#id_message {
    width: 1000px;
}


@media (max-width: 1980px) {
    #main {
        width: 1480px;
        margin: 0 auto;
    }
}
    
@media (max-width: 1680px) {
    #main {
        width: 1180px;
        margin: 0 auto;
    }
}