{% extends 'meetapp/base.html' %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'review_form.css' %}" />
</head>

<section id="main">
    <form action="" method="post">
        {% csrf_token %}
        <div class="title">
            <h1>콘서트 메이트 후기 작성</h1>
        </div>
        <div class="form_message">
            {{ form.message }}
        </div>
        <div class="submit">
            <input type="submit" value=' 완료 ' class="btn btn-dark">
        </div>
    </form>
</section>
{% endblock content %}