{% extends 'meetapp/base.html' %}
{% block content %}
{% load static %}
<html>
    <head>
        <title>프로필 수정</title>
        <link rel="stylesheet" href="{% static 'post_user.css' %}">
        <style>
            .form-group {
            padding-bottom: 15px;
            }
            b {
            color: red;
            }
        </style>
    </head>

    <body>
        <script>
            function con() {
            alert('비밀번호 확인되었습니다');
            // 비밀번호 기준: 8자 이상, 간단한 비밀번호 X, 비밀번호 1 2의 내용 동일한지 체크..해야함
            }
        </script>
        <section>
            <div class="container" style="display: flex; justify-content: center;">
            <div style="width: 80%; padding: 50px;">
                <h1 style="text-align: center; margin-bottom: 50px;">내 정보 수정</h1>
                <form action="{% url 'account:user_edit' user_id %}" method="POST" enctype = "multipart/form-data">
                {% csrf_token %}
                {% include "form_errors.html" %}
                <div class="form-group">
                    <label>아이디 <b>*</b></label>
                    <div class="row">
                    <div class="col-sm-5">
                        <input type="hidden" class="form-control" name="username" id="username" value="{{ infoform.username.value|default_if_none:'' }}">
                        <p>{{ infoform.username.value }}</p>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <label for="id_old_password">기존 비밀번호</label>
                        <input type="password" class="form-control" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
                    </div>
                    <div class="col-sm-8">
                        <label for="id_new_password1">새 비밀번호</label>
                        <input type="password" class="form-control" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                    </div>
                    <div class="col-sm-8">
                        <label for="id_new_password2">새 비밀번호 (확인)</label>
                        <input type="password" class="form-control" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                    </div>
                    <div class="col-sm-2">
                    <br>
                    <input type="button" id="confirm" class="btn btn-dark" value="확인" onclick="con();" disabled>
                    </div>
                    <div class="col-sm-12">
                        <span class="helptext" style="font-family: notosans; font-size: 8px;">
                            <ul>
                                <li>* 다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</li>
                                <li>* 비밀번호는 최소 8자 이상이어야 합니다.</li>
                                <li>* 통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</li>
                                <li>* 숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</li>
                            </ul>
                            <br>
                        </span>
                    </div>
                </div>
            
                <div class="form-group">
                    <label>이름 <b>*</b></label>
                    <input type="text" class="form-control" name="name" id="name" value="{{ infoform.name.value|default_if_none:'' }}">
                </div>
            
                <div class="form-group">
                    <label>이메일 <b>*</b></label>
                    <input type="text" class="form-control" name="email" id="email"
                    value="{{ infoform.email.value|default_if_none:'' }}">
                </div>
                <div class="form-group">
                    <label>전화번호 <b>*</b></label>
                    <input type="tel" class="form-control" name="phone" id="phone" placeholder="- 없이 입력"
                    value="{{ infoform.phone.value|default_if_none:'' }}">
                </div>
                <div class="form-group">
                    <label>생년월일</label>
                    <br>
                    <input type="text" class="form-control" name="date_of_birth" id="date_of_birth"
                    value="{{ infoform.date_of_birth.value|default_if_none:'' }}">
                </div>
                <div class="form-group" style="display: none;">
                    <label>성별</label>
                    <br>
                    {{infoform.gender}}
                </div>
                <div>
                    <label>프로필 사진</label>
                    <br>
                    {% if cur_info.profpic %}
                    <img src="{{cur_info.profpic.url|default_if_none:''}}" width="300px" height="300px"><br>
                    {% endif %}
                    {{infoform.profpic}}
                </div>
                <div>
                    <label>자기소개</label>
                    <br>
                    <textarea name="introduction" id="introduction">{{infoform.introduction.value|default_if_none:''}}</textarea>
                </div>
                <div class="form-group">
                    <label>관심사</label>
                    <br>
                    힙합 <input type="checkbox" name="interests" value="힙합">&nbsp;
                    클래식 <input type="checkbox" name="interests" value="클래식">&nbsp;
                    팝 <input type="checkbox" name="interests" value="팝">&nbsp;
                    락 <input type="checkbox" name="interests" value="락">&nbsp;
                    발라드 <input type="checkbox" name="interests" value="발라드">&nbsp;
                    재즈 <input type="checkbox" name="interests" value="재즈">&nbsp;
                    뮤지컬 <input type="checkbox" name="interests" value="뮤지컬">&nbsp;
                    국악 <input type="checkbox" name="interests" value="국악">&nbsp;
                </div>
                <br>
                <div class="d-grid gap-2" style="text-align: center;">
                    <button class="btn btn-dark" type="submit" id="submit" type="button">수정 완료</button>
                </div>
                </form>
            </div>
            </div>
            <div style="height: 100px;"></div>
        </section>
        {% endblock content %}
    </body>
</html>
