{% extends 'meetapp/base.html' %}
{% block content %}
{% load static %}
<html>
    <head>
        <title>{{ info.name }}의 프로필</title>
        <link rel="stylesheet" href="{% static 'post_user.css' %}">
        <style>
            ul {
                list-style: none;
                padding-left: 0px;
            }
        </style>
    </head>
    <body>
        <section id="main">
            <div class="user_info">
                <div class="user_name">
                    <p>{{ info.name }}</p>
                </div>
                <div class="user_etc">
                    <p>{{ age }}세 {{ info.gender }}</p>
                </div>
            </div>

            <!-- 프로필 사진 -->
            <div class="self_photo">
                {% if info.profpic %}
                <img src="{{ info.profpic.url }}" width="210px", height="210px" style="border-radius: 50%;">
                {% else %}
                <img src="{% static 'defpropic/default-profile-pic.png' %}" width="210px", height="210px" style="border-radius: 50%;">
                {% endif %}
            </div>

            <!-- 간단한 자기소개 -->
            <div class="self_content">
                <br>
                <p>{{ info.introduction }}</p>
            </div>

            <div class="follow">
                <p>팔로잉수</p>
                <p>{{ info.following }}</p>
                <hr>
                <p>팔로워수</p>
                <p>{{ info.follower }}</p>
                <hr>
                <p>다녀온공연</p>
                <p>{{ info.concertnum }}</p>
            </div>
        
            <div class="follow_button">
                {% if isFollowed == 2 %}
                <button><a href ="{% url 'account:unfollow' info.username %}">언팔로우</a></button>
                {% elif isFollowed == 3 %}
                <button><a href ="{% url 'account:follow' info.username %}">팔로우</a></button>
                {% elif isFollowed == -1 %}
                <button><a href ="{% url 'account:user_edit' info.username %}">정보 수정</a></button>
                {% endif %}
            </div>

        </section>
        <section id="review">
            <div class="review_title">
                <p>후기</p>
            </div>
            <div class="comment">
                <ul>
                    {% for review in reviews %}    
                        <li>
                            <br>
                            <div class="comment_user_info">
                                <div class="comment_user_name">
                                    <strong>{{ review.user_id }}</strong>
                                </div>
                                
                                <!--
                                <div class="comment_user_etc">
                                    <p>{{ review.age }}세 {{ review.gender }}</p>
                                </div>
                                <div class="comment_concert">
                                    <p>{{ review.post.title }}</p>
                                </div> 
                                -->
                                <div class="comment_date">
                                    <p>{{ review.created_at }}</p>
                                </div>
                                <div class="comment_user_photo">
                                    <p></p>
                                </div> 
                            </div>
                            <div class="message">
                                &nbsp;&nbsp;{{ review.message }}
                            </div>

                            {% if review.user_id == req_user %}
                                <a href="{% url 'account:review_edit' info.username review.id %}">
                                        수정
                                    </a>
                                <button onclick="delete_alert()">삭제</button>
                                <script>
                                    function delete_alert() {
                                        var res = confirm("정말 삭제하시겠습니까?");
                                        if(res) {
                                            location.href="{% url 'account:review_delete' info.username review.id %}";
                                        }
                                        else {
                                            alert("취소되었습니다.");
                                        }
                                    }
                                </script>
                            {% endif %}

                        </li>
                        <br>
                    {% endfor %}
                </ul>
            </div>
            <div class="review_button">
                <a href="{% url 'account:review_new' info.username %}" class='btn btn-primary float-end'>후기 작성</a>
            </div>
        </section>
        {% endblock content %}
    </body>
</html>
