{% extends 'meetapp/base.html' %}
{% block content %}
{% load static %}
<html>
    <head>
        <title>프로필 수정</title>
        <link rel="stylesheet" href="{% static 'post_user.css' %}">
        <style>
            ul {
                list-style: none;
                padding-left: 0px;
            }
            input {
                border:none;
                background-color:none;
            }
        </style>
    </head>

    <body>
        <section id="main">
            <form action="{% url 'account:user_edit' user_id %}" method="POST">
                {% csrf_token %}
                {% include "form_errors.html" %}
                <div class="user_name">
                    <p class="form-group">
                        <input type="text" class="form-control" name="name" id="name" value="{{ info.name.value|default_if_none:'' }}">
                    </p>
                    &nbsp;&nbsp;
                    <p class="form-group">
                        <input type="date" class="form-control" name="date_of_birth" id="date_of_birth"
                        value="{{ info.date_of_birth.value|default_if_none:'' }}">
                        출생, {{ info.gender }}
                    </p>
                </div>
                <div class="user_info">
                    <div class="user_etc">
                        
                    </div>
                </div>

                <!-- 프로필 사진 -->
                <div class="self_photo">
                    {% if cur_info.profpic %}
                    <img src="{{ cur_info.profpic.url }}" width="210px", height="210px" style="border-radius: 50%;">
                    {% else %}
                    <img src="{% static 'defpropic/default-profile-pic.png' %}" width="210px", height="210px" style="border-radius: 50%;">
                    {% endif %}
                    <br>
                    <input type="file" name="profpic" id="profpic">
                </div>

                <!-- 간단한 자기소개 -->
                <div class="self_content">
                    <br>
                    <textarea rows="6" cols="40" name="introduction" class="form-control" value="{{ cur_info.introduction }}">{{ cur_info.introduction }}</textarea>
                </div>

                <div class="follow">
                    <p>팔로잉수</p>
                    <p>{{ cur_info.following }}</p>
                    <hr>
                    <p>팔로워수</p>
                    <p>{{ cur_info.follower }}</p>
                    <hr>
                    <p>다녀온공연</p>
                    <p>{{ cur_info.concertnum }}</p>
                </div>
        
                <div class="follow_button">
                    <button><input type="submit" id="submit" class="follow_button" value="수정"></button>
                </div>
            </form>
        </section>
        {% endblock content %}
    </body>
</html>
