{% extends 'meetapp/base.html' %}
{% block content %}
{% load static %} <br>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'blog/post_detail.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap" 
        rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" 
        rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
      rel="stylesheet">
    </head>

    <body>
        <section id="main">
            <span class="material-icons-outlined">
                favorite_border
            </span>

            <div class="post_title">
                <p>{{ post.title }}</p>
            </div>
            <div class="post_user">
                <p class="user_name">
                    <a href="{% url 'meetapp:post_user' post.id %}">{{ post.user }}</a>
                </p>
            </div> 
            <div class="post_content">
                <p>
                    {{ post.content }}
                </p>
            </div>
            <div class="count">
                <h3>0/3</h3>
            </div>
            <div class="post_manage">
                {% if post.user == request.user %}
                    <a href="{% url 'meetapp:post_edit' post.id %}"><input type="button" value ='수정'></a>
                    <a href="{% url 'meetapp:post_list' %}"><input type="button" value ='목록'></a>
                    <a href="{% url 'meetapp:post_delete' post.id %}"><input type="button" value ='삭제'></a>
                {% endif %}
            </div>
        </section>
        <section id="greet">
            <div class="comment">
                <p>댓글</p>
                {% for comment in post.comment_set.all %}    
            <li>
                {{ comment.user }}
                {{ comment.message }}<br>
                {{ comment.created_at }}
                {% if comment.user == request.user %}
                    <a href="{{ comment.get_edit_url }}">
                        수정
                    </a>
                    <a href="{{ comment.get_delete_url }}">
                        삭제
                    </a>
                {% endif %}
            </li><br><hr>
                {% endfor %}
            </div>
            <div class="comment_submit">
                <a href="{% url 'meetapp:comment_new' post.id %}" class='btn btn-primary float-end'>댓글 작성</a>
            </div>      
        </section>                
    </body>
</html>
{% endblock content %}