{% extends 'meetapp/base.html' %}
{% block content %}
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'blog/post_user.css' %}">
    </head>
    <body>
        <section id="main">
            <div class="user_info">
                <div class="user_name">
                    <p>{{ post.user }}</p>
                </div>
                <div class="user_etc">
                    <p>20세 여자</p>
                </div>
            </div>

            <!-- 프로필 사진 -->
            <div class="self_photo">
                <p></p>
            </div>

            <!-- 간단한 자기소개 -->
            <div class="self_content">
                <br>
                <p></p>
            </div>

            <div class="follow">
                <p>팔로잉수</p>
                <p>14</p>
                <hr>
                <p>팔로워수</p>
                <p>14</p>
                <hr>
                <p>다녀온공연</p>
                <p>3</p>
            </div>
        
            <div class="follow_button">
                <button>팔로우</button>
            </div>

        </section>
        <section id="review">
            <div class="review_title">
                <p>후기</p>
            </div>
            <div class="comment">
                <ul>
                    {% for review in post.review_set.all %}    
                        <li>
                            <br>
                            <div class="comment_user_info">
                                <div class="comment_user_name">
                                    <strong>{{ post.user }}</strong>
                                </div>
                                
                
                                <div class="comment_user_etc">
                                    <p>20세 여</p>
                                </div>
                                <div class="comment_concert">
                                    <p>2021 창모 단독콘서트</p>
                                </div> 
                                <!-- <div class="comment_date">
                                    <p>{{ review.created_at }}</p>
                                </div> -->
                                <div class="comment_user_photo">
                                    <p></p>
                                </div> 
                            </div>
                            <div class="message">
                                &nbsp;&nbsp;{{ review.message }}
                            </div>

                            <!-- {% if review.user == request.user %}
                                <a href="{{ review.get_edit_url }}">
                                    수정
                                </a>
                                <a href="{{ review.get_delete_url }}">
                                    삭제
                                </a>
                            {% endif %} -->

                        </li>
                        <br>
                    {% endfor %}
                </ul>
                <style>
                    ul {
                        list-style: none;
                        padding-left: 0px;
                    }
                </style>
            </div>
            <div class="review_button">
                <a href="{% url 'meetapp:review_new' post.id %}" class='btn btn-primary float-end'>후기 작성</a>
            </div>
        </section>
    </body>
</html>
{% endblock content %}


            
