{% extends 'meetapp/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Sign up</title>
  <style>
    .form-group {
      padding-bottom: 15px;
    }
    b {
      color: red;
    }
  </style>
</head>

<body>
  <script>
    function con() {
      alert('비밀번호 확인되었습니다');
      // 비밀번호 기준: 8자 이상, 간단한 비밀번호 X, 비밀번호 1 2의 내용 동일한지 체크
    }
  </script>

  <br>
  <header>
    <h1>회원가입</h1>
  </header>
  <br>

  <section>
    <div class="container" style="display: flex; justify-content: center;">
      <form action="" method="POST" style="width: 80%; border: solid 2px blueviolet; padding: 20px;">
        {% csrf_token %}
        <div class="form-group">
          <label>아이디 <b>*</b></label>
          <div class="row">
            <div class="col-sm-5">
              <input type="text" class="form-control" name="username" id="username" placeholder="아이디 입력"
              value="{{ form.username.value|default_if_none:'' }}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <div class="form-group">
              <label>비밀번호 <b>*</b></label>
              <input type="password" class="form-control" name="password1" id="password1" placeholder="8자 이상 입력"
                value="{{ form.password1.value|default_if_none:'' }}">
            </div>
          </div>
          <div class="col-sm-5">
            <div class="form-group">
              <label>비밀번호 확인 <b>*</b></label>
              <input type="password" class="form-control" name="password2" id="password2" placeholder="8자 이상 입력"
                value="{{ form.password2.value|default_if_none:'' }}">
            </div>
          </div>
          <div class="col-sm-2">
            <br>
            <input type="submit" id="confirm" class="btn btn-dark" value="확인" onclick="con()">
          </div>
        </div>
  
        <div class="form-group">
          <label>이름 <b>*</b></label>
          <input type="text" class="form-control" name="name" id="name" value="{{ form.name.value|default_if_none:'' }}">
        </div>
  
        <div class="form-group">
          <label>이메일 <b>*</b></label>
          <input type="text" class="form-control" name="email" id="email"
            value="{{ form.email.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
          <label>전화번호 <b>*</b></label>
          <input type="tel" class="form-control" name="phone" id="phone" placeholder="010-****-****"
            value="{{ form.phone.value|default_if_none:'' }}">
        </div>
        <!-- <div class="form-group">
          <label>생년월일</label>
          <br>
          <select name="year">
            <option value="">-- 선택 --</option>
            <option value="1995">1995</option>
            <option value="1996">1996</option>
            <option value="1997">1997</option>
            <option value="1998">1998</option>
            <option value="1999">1999</option>
            <option value="2000">2000</option>
          </select>
          <select name="month">
            <option value="">-- 선택 --</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
          <select name="day">
            <option value="">-- 선택 --</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
          </select>
        </div>
          
        <div class="form-group">
          <label>성별</label>
          <br>
          <label for="man">남자</label>
          <input type="radio" name="man" value="m" id="man">
          <label for="woman">여자</label>
          <input type="radio" name="woman" value="m" id="woman">
        </div>
        <div class="form-group">
          <label>관심사</label>
          <br>
          <input type="checkbox" name="check" value="hobby1">
          <input type="checkbox" name="check" value="hobby2">
          <input type="checkbox" name="check" value="hobby3">
          <input type="checkbox" name="check" value="hobby4">
        </div> -->
        <br>
        <div style="text-align: center;">
          <input type="submit" id="submit" class="btn btn-dark" value="Join">
        </div>
      </form>
    </div>
    <div style="height: 100px;"></div>
  </section>


</body>

</html>
{% endblock content %}