{% extends 'meetapp/base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  {% load static %}
  {% block extrahead %}
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'blog/login.css' %}">
  <script>
    function gojoin() {
      location.href = "{% url 'sign' %}";
    }
  </script>
  {% endblock %}
</head>

<body>
  {% block content %}
  <br>
  <header>
  </header>
  <br>

  <section>
    <div id="formContent" class="container wrapper fadeInDown" style="display: flex; justify-content: center;">
      <!-- Tabs Titles -->

      <div style="width: 80%; border: solid 2px blueviolet; padding: 20px;">
        <h1 style="text-align: center;">로그인</h1>
        <!-- Icon -->
        <div class="fadeIn first" style="text-align: center; margin-bottom: 15px;">
          <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form action="{% url 'meetapp:login' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">아이디</label>
            <input type="text" class="form-control fadeIn second" name="username" id="username"
              value="{{ form.username.value|default_if_none:'' }}">
          </div>
          <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control fadeIn third" name="password" id="password"
              value="{{ form.password.value|default_if_none:'' }}">
          </div>
          <div style="text-align: center; margin-top: 15px;">
            <input type="submit" id="submit" class="fadeIn fourth" value="로그인">
            &nbsp;&nbsp;
            <input type="button" id="join" value="회원 가입하기" onclick="gojoin();">
          </div>
        </form>

        <!-- Remind Passowrd -->
        <!-- <div id="formFooter">
  <a class="underlineHover" href="#">Forgot Password?</a>
</div> -->
      </div>

    </div>
  </section>
  {% endblock content %}
</body>

</html>