{% extends 'meetapp/base.html' %} {% block content %} {% load static %}
<br />
<html>
  <title>Home - ConcertMeet</title>
  <head>
    <link rel="stylesheet" href="{% static 'css/post_home.css' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- 곧 진행될 공연 -->
    <section id="main" class="today_concert">
      <div class="metadata">
        <span class="title">곧 진행될 콘서트</span>
        <a href="{% url 'meetapp:content_list' %}"
          ><span class="t_more_info">더보기</span></a
        >
      </div>
      <div class="home_list">
        {% for concert in concert_list %}
        <div class="home_concert">
          <div class="home_concert_info">
            <img src="{{ concert.image_url}}" />
            <div>{{concert.title}}</div>
            <div>{{concert.location}}</div>
            <div>{{concert.date}}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>

    <!-- 콘서트 메이트 -->
    <section class="concert_mate">
      <span class="title">콘서트 메이트 구해요</span>
      <a href="{% url 'meetapp:post_list' %}"
        ><span class="more_info">더보기</span></a
      >
      <ul class="card-list">
        <li class="card-item">
          <figure class="card-image" style="background-image: url()">
            <img src="" alt="" />
          </figure>
          <div class="card-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit libero
            in ratione dicta nihil corporis illo odio, voluptatem a nam!
          </div>
        </li>
        <li class="card-item">
          <figure class="card-image" style="background-image: url()">
            <img src="" alt="" />
          </figure>
          <div class="card-desc">Lorem ipsum.</div>
        </li>
        <li class="card-item">
          <figure class="card-image" style="background-image: url()">
            <img src="" alt="" />
          </figure>
          <div class="card-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit libero
            in ratione dicta nihil corporis illo odio, voluptatem a nam! Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Sit libero in
            ratione dicta nihil corporis illo odio, voluptatem a nam!
          </div>
        </li>
        <li class="card-item">
          <figure class="card-image" style="background-image: url()">
            <img src="" alt="" />
          </figure>
          <div class="card-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit libero
            in ratione dicta nihil corporis illo odio, voluptatem a nam!
          </div>
        </li>
        <li class="card-item">
          <figure class="card-image" style="background-image: url()">
            <img src="" alt="" />
          </figure>
          <div class="card-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit libero
            in ratione dicta nihil corporis illo odio, voluptatem a nam!
          </div>
        </li>
        <li class="card-item">
          <figure class="card-image" style="background-image: url()">
            <img src="" alt="" />
          </figure>
          <div class="card-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit libero
            in ratione dicta nihil corporis illo odio, voluptatem a nam!
          </div>
        </li>
        <li class="card-item">
          <figure class="card-image" style="background-image: url()">
            <img src="" alt="" />
          </figure>
          <div class="card-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit libero
            in ratione dicta nihil corporis illo odio, voluptatem a nam!
          </div>
        </li>
        <li class="card-item">
          <figure class="card-image" style="background-image: url()">
            <img src="" alt="" />
          </figure>
          <div class="card-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit libero
            in ratione dicta nihil corporis illo odio, voluptatem a nam!
          </div>
        </li>
        <li class="card-item">
          <figure class="card-image" style="background-image: url()">
            <img src="" alt="" />
          </figure>
          <div class="card-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit libero
            in ratione dicta nihil corporis illo odio, voluptatem a nam!
          </div>
        </li>
      </ul>
      
    </section>
  </body>

  {% endblock content %}
</html>
