{% extends 'meetapp/base.html' %} {% block content %} {% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/post_list.css' %}" />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" 
        rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
         rel="stylesheet"
    /> -->
  </head>

  <body>
    <section id="main">
      <div class="title">
        <h1>콘서트 메이트 구해요</h1>

        <a href="{% url 'meetapp:post_new' %}" class="btn btn-primary float-end"
          >새 글 쓰기</a
        >
      </div>

      {% for post in post_list %}
      <a href="{% url 'meetapp:post_detail' post.id %}">
        <div class="post_element">
          <div class="page_title">{{ post.title }}&nbsp;[{{ post.hit }}]</div>
          <div class="heart"></div>

          <div class="info">
            <div class="hashtag">
              <p>#힙합</p>
            </div>
            <div class="date">
              <p>
                {{ post.created_at|date:"Y/m/d A h:i " }}&nbsp;&nbsp;&nbsp;{{
                post.user }}
              </p>
            </div>
          </div>

          <div class="matching">
            <p>0/3</p>
          </div>
        </div>
      </a>

      <br />
      {% endfor %}
    </section>
  </body>
</html>
{% endblock content %}
