{% extends 'meetapp/base.html' %} {% block content %} {% load static %}
<br />
<html>
  <head>
    <link rel="stylesheet" href="{% static 'blog/post_home.css' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" 
    rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- 오늘 진행되고 있는 공연 -->
    <section id="main" class="today_concert">
      <div class="metadata">
        <span class="title">오늘 진행되고 있는 공연</span>
      </div>
      <div class="img">
        <img src="{%static 'img1.jpg' %}">
      </div>
      <div class="info">
        <span class="title">뮤지컬 <시카고></span>
        <span class="date">2021.07.09~2021.07.11</span>
        <span class="location">올림픽공원 올림픽홀</span>
      </div>
    </section>

    <!-- 콘서트 메이트 -->
    <section class="concert_mate">
      
    </section>
  </body>

{% endblock content %}
