{% extends 'meetapp/base.html' %}
{% block content %}
{% load static %}

<title>새 글 쓰기 - ConcertMeet</title>

<head>
    <link rel="stylesheet" href="{% static 'css/post_new.css' %}" />
</head>

<section id="main">
    <form action="{% url 'meetapp:post_new' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="title">
            <h1>콘서트메이트 구하기</h1>
            <a><input type="submit" value=' 완료 ' class="btn btn-dark"></a>
        </div>

        <div class="form">
            <h2>카테고리</h2><br>
            <h4>힙합 | 발라드 | 내한공연 | 락 | 재즈 | 페스티벌 | 인디 | 기타 </h4>
            {{ form.category }}

            <h2>제목</h2>
            {{ form.title }}


            <h2 style="margin-top: 3%;">내용</h2>
            {{ form.content }}

            <h2>총 참가 인원수</h2>
            {{ form.pcp_total }}명
            <br><br>
        </div>

    </form>

</section>
{% endblock content %}