{% extends 'meetapp/base.html' %}
{% block content %}
{% load static %} <br>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap" 
        rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" 
        rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
      rel="stylesheet">
    </head>

    <body>
        <section id="main">
            
            <script src="{% static 'js/likes.js' %}"></script>

            <button class="btn-icon btn--icon-default" name="{{ post.id }}" onclick='onClick()' >
                <span class="fa fa-heart" style="font-size:35px" ></span>
            </button>
            <button class="btn-icon btn--icon-liked" name="{{ post.id }}" onclick='onClick()'>
                <span class="fa fa-heart" style="font-size:35px" ></span>
            </button>

            <div class="post_title">
                <p>{{ post.title }}</p>
            </div>
            <div class="post_user">
                <p class="user_name">
                    <a href="{% url 'account:user' post.user.username %}">{{ post.user }}</a>
                </p>
            </div> 
            <div class="post_content">
                <p>
                    {{ post.content }}
                </p>
            </div>
            <div class="count">
                <h3>0/3</h3>
            </div>
            <div class="post_manage">
                {% if post.user == request.user %}
                    <a href="{% url 'meetapp:post_edit' post.id %}"><input type="button" value ='수정'></a>
                    <a href="{% url 'meetapp:post_list' %}"><input type="button" value ='목록'></a>
                    <a href="{% url 'meetapp:post_delete' post.id %}"><input type="button" value ='삭제'></a>
                {% endif %}
            </div>
        </section>
        <section id="greet">
            <div class="comment">
                <p>댓글</p>
                {% for comment in post.comment_set.all %}    
            <li>
                {{ comment.user }}
                {{ comment.message }}<br>
                {{ comment.created_at }}
                {% if comment.user == request.user %}
                    <a href="{{ comment.get_edit_url }}">
                        수정
                    </a>
                    <a href="{{ comment.get_delete_url }}">
                        삭제
                    </a>
                {% endif %}
            </li><hr>
                {% endfor %}
            </div>
            <div class="comment_submit">
                <a href="{% url 'meetapp:comment_new' post.id %}" class='btn btn-primary float-end'>댓글 작성</a>
            </div>      
        </section>                
    </body>
</html>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(".btn-icon").click(function () { // .like 버튼을 클릭 감지
      var pk = $(this).attr('name') // Jquery의 경우에는 이벤트가 발생한 요소의 정보들이 Object로 표시
        $.ajax({ // ajax로 서버와 통신
            type: "POST", // 데이터를 전송하는 방법
            url: "{% url 'meetapp:post_like' %}", // 통신할 url을 지정
            data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' }, // 서버로 데이터 전송시 옵션, pk를 넘겨야 어떤 post인지 알 수 있음
            dataType: "json",
            success: function (response) { // 성공
                $("#count-" + pk).html(response.likes_count); // 좋아요 개수 변경
            },
            error: function (request, status, error) { // 실패
                alert("로그인이 필요합니다.")
                window.location.replace("/user/login/") // 로그인 페이지로 넘어가기
            },
        });
    })
</script>
{% endblock content %}