#main {
    position: absolute;
    width: 1440px;
    height: 450px;
    left: 0px;
    top: 90px;
    background-color: #E2E2E2;
}

.user_info{
    position: absolute;
    width: 100px;
    height: 95px;
    line-height: 36px;
}
.user_name {
    position: relative;
    left: 150%;
}
.user_name > p {
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
    left: 20%;
    top: 70px;
}
.user_etc {
    position: relative;
    left: 300%;
    top: 70px;
}
.user_etc > p {
    position: absolute;
    font-size: 17px;
    margin-bottom: 0;
    left:-20%;
}
.self_photo {
    background-color: rgb(139, 139, 139);
    position: absolute;
    border-radius: 50%;
    width:210px;
    height: 210px;
    left:11%;
    top:28%;
}
.self_content {
    background-color: rgb(204, 203, 203);
    width: 450px;
    height: 200px;
    position: absolute;
    border-radius: 30px;
    left:36%;
    top:30%;
}
.follow {
    position: absolute;
    font-weight:bolder;
    text-align: center;
    font-size: 20px;
    left:78%;
    top:20%;
}
.follow > hr {
    height: 2px; 
     background-color: rgb(0, 0, 0);
} 

button {
    background:rgb(185, 185, 185);
    border:none;
    position:absolute;
    height:40px;
    font-size:1.3em;
    font-weight: normal;
    padding:0 1.2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    border-radius: 30px;
    top:83%;
    left:14%;
}
  button:hover{
    background:#fff;
    color:#a5a5a5;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background:#b9b9b9;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
 
  
#review {
    position: absolute;
    top:72%;
    width: 1440px;
    height: 450px;
}
.review_title {
    position: absolute;
    left: 15%;
    top: 15%;
}

.review_title > p {
    font-weight: bold;
    font-size: 25px;
}

.comment{
    position: absolute;
    left: 15%;
    top: 35%;
}
.comment >ul> li {
    width: 1000px;
    height: 130px;
    background-color: #E2E2E2 ;
    border-radius: 40px;
}
.comment_user_photo {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 50px;
    height:50px;
    position: relative;
    left : 3%;
}

 .comment_user_name >strong {
    position: absolute;
    left:10%;
    
}

.comment_user_etc {
    position: absolute;
    left:18%;
    
}

.comment_concert {
    position: absolute;
    left:10%;
    padding-top: 30px;
    
}

.comment_date {
    position: absolute;
    left:9%;
    top:58%;
}

.message {
    left: 46%;
    bottom: 50%;
    width: 450px;
    height: 90px;
    /* background-color: blue; */
    position: relative;
}

.review_button {
    position : absolute;
    top: 15%;
    left : 80%;
} 


